.qrcode-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.qrcode-modal-container {
	width: 305px;
	height: 398px;
	border: 1px solid #4169e1;
	border-radius: 30px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.qrcode-modal-text {
	font-size: 18px;
	color: #4169e1;
	text-align: center;
	margin-top: 10px;

	padding: 40px;
}

.qrcode-separator {
	width: 70%;
	height: 1px;
	background-color: #4169e1;
	margin-bottom: 20px;
}

.qrcode-wrapper {
	margin-bottom: 20px;
	width: 150px;
	height: 150px;
	border: 1px solid #4169e1;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.qrcode-modal-close {
	position: absolute;
	top: 15px;
	right: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.qrcode-modal-close::before,
.qrcode-modal-close::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 13.7px;
	background-color: #4169e1;
	top: 0;
}

.qrcode-modal-close::before {
	transform: rotate(45deg);
}

.qrcode-modal-close::after {
	transform: rotate(-45deg);
}

.qrcode {
	color: #4169e1;
}
