.configurator-container {
	display: flex;
	justify-content: center;
	padding: 20px;
	color: black;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 40px;
	z-index: 10;
	font-size: 14px;
}

.configurator-row {
	display: flex;
	gap: 200px;
}

.configurator-block {
	display: flex;
	flex-direction: column;

	align-items: flex-start;
}

.block-title {
	font-weight: 400;
	margin-bottom: 8px;
}

.separator {
	width: 210px;
	height: 1px;
	background-color: #ccc;
	margin-bottom: 10px;
}

.color-options-container {
	display: flex;
	gap: 20px;
}

.color-option {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.color-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 5px;
	background-color: white;
}

.color-image-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 5px;
	background-size: cover;
	background-position: center;
}

.color-name {
	font-size: 12px;
	text-align: center;
}

.material-options {
	display: flex;
	gap: 10px;
}

.rounded-button {
	padding: 8px 15px;
	border: 1px solid #ccc;
	border-radius: 20px;
	cursor: pointer;
	background-color: white;
	font-size: 12px;
	color: black;
}

.rounded-button:hover {
	background-color: #f0f0f0;
	color: #4169e1;
}

.color-option.selected .color-circle,
.color-option.selected .color-image-circle {
	border: 1px solid #2196f3;
	box-shadow: 0 0 6px rgba(33, 150, 243, 0.6);
}

.rounded-button.selected {
	border: 2px solid #2196f3;
	background-color: #e3f2fd;
	color: #0d47a1;
	font-weight: 500;
	box-shadow: 0 0 6px rgba(33, 150, 243, 0.4);
}
